:root {
  --main-header-height: 70px;
  --min-page-height: calc(100vh - var(--main-header-height));

  --bg-color: #121212;
  --inverted-bg-color: #EDE4E0;
  --primary-color: #F49D1A;
  --secondary-color: #DC3535;
}