.characterspage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.listItem {
  width: 300px;
  height: 250px;
  border: 2px solid black;
  margin: 20px;
}