.characterdetailspage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--min-page-height);
}

.centerer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--min-page-height);
}