.errorpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg-color-dark);
}

.link {
  font-size: 1.5em;
  text-decoration: none;
  color: #cc50da;

  &:hover {
    opacity: 0.8;
  }
}
