.errorpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: var(--min-page-height);
}

.link {
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }
}